body {
  background-color: rgb(210, 223, 250);
}

a {
  color: rgb(128, 168, 255);
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid rgb(232, 238, 252);
  padding: 0 0 30px 0;
}

.logo-container {
  text-align: left;
  margin-bottom: 20px;
}
.logo {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  padding: 20px auto;
}

.search-form-input {
  background-color: rgb(232, 238, 252);
  border: none;
  border-radius: 6px;
  width: 75%;
  padding: 16px;
  font-size: 16px;
}

.search-form-button {
  background-color: rgb(128, 168, 255);
  padding: 16px 35px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.city-name {
  margin: 0;
  font-size: 36px;
  line-height: 48px;
}

.city-details {
  font-size: 16px;
  line-height: 25px;
  color: rgb(139, 153, 182);
}

.city-details strong {
  color: rgb(194, 82, 246);
}

.city-temp-container {
  display: flex;
}

.weather-icon {
  height: 88px;
  width: 88px;
}

.temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 88px;
}

.temp-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weekly-forecast {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.forecast-day {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.forecast-icon {
  width: 100%;
  display: block;
  margin: 0 auto;
  opacity: 50%;
}
.forecast-temps {
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
  color: rgb(194, 82, 246);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.forecast-low {
  font-weight: 700;
  color: rgb(194, 82, 246, 0.7);
}

footer {
  margin: 20px auto 20px;
  font-family: monospace;
  font-size: 12px;
  color: rgb(2, 2, 2, 0.6);
  border-top: 1px solid rgb(232, 238, 252);
  padding: 20px 0 0 0;
  text-align: center;
}
